.word--container {
    display: flex;
    justify-content: center;
    justify-content: center;
    gap: 6px;
    margin-top: 6px;
}

.word--letter {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid grey;
    width: 60px;
    height: 60px;
}